.header {
    background-color: rgba(255, 255, 255.0);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.logo img {
    width: 50%;
    height: 100%;
}

.navs img {
    width: 20px;
    height: 20px;
}

.navs a {
    color: #151515;
    text-transform: capitalize;
    transition: 0.3s;
    font-size: 16px;
    font-size: 900;
    margin-left: 25px;
}

.navs a:hover {
    color: #00aff0;
}

.navs .nav-link {
    position: relative;
}

.navs .nav-link::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    height: 3px;
    background-color: #00aff0;
    opacity: 0;
    transition: .4s;
}

.navs .nav-link:hover::after {
    opacity: 1;
}